.d-modal, .d-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.d-modal-overlay {
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.d-modal-content {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  width: 60%;
  z-index: 102;
}

.d-modal {
  display: none;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 101;
}

.d-modal.open {
  display: block;
}

.d-modal-close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  color: #989898;
}

.d-modal-open {
  overflow: hidden;
}
